n8n-bapperida-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-kontak-submit",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "0fcc8839-050a-4b49-b1e4-26b522c9e687",
      "name": "Webhook Kontak Submit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3584,
        -480
      ],
      "webhookId": "eb2c7329-197a-4539-bc38-1cd0f3723ae9"
    },
    {
      "parameters": {
        "fromEmail": "no-reply@mindcloud.my.id",
        "toEmail": "bapperida@sumbabarat.go.id, bapperidasb@gmail.com",
        "subject": "=Pesan Baru: {{$json[\"perihal\"]}}",
        "text": "=Nama: {{$json[\"nama\"]}}\nEmail: {{$json[\"email\"]}}\nInstansi: {{$json[\"instansi\"]}}\n\nPesan:\n{{$json[\"pesan\"]}}",
        "options": {}
      },
      "id": "f1e8c0c6-52d6-4b0a-8b2e-b18c206c556e",
      "name": "Send Email Bapperida",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        -3360,
        -480
      ],
      "webhookId": "f32bfd36-5934-44d6-b2b9-9b53650f2e27",
      "credentials": {
        "smtp": {
          "id": "XhJ2Lg5tFsFIyO11",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"success\"}",
        "options": {}
      },
      "id": "f9019bd8-4de8-4256-a966-f27ee9871a42",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -3136,
        -2448
      ]
    },
    {
      "parameters": {
        "path": "bapperida-berita-list",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "2d99e5fc-d3d2-415a-9fe2-63fd00bc9c0f",
      "name": "Webhook berita List",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3808,
        -5456
      ],
      "webhookId": "15291e59-d856-4c19-ae8e-ff13118c34b7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, judul, konten, kategori, tanggal, emoji, gambar_data AS gambar_url, is_featured, priority, layout_size, col_span, row_span FROM public.bapperida_berita ORDER BY priority ASC, id DESC;",
        "options": {}
      },
      "id": "d4b1d673-ca11-4c29-9a0a-223efb49efdf",
      "name": "DB berita List",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3584,
        -5456
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "path": "bapperida-init",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "bapperida-init-unique-id-2026",
      "id": "e7ce9af9-65fc-4e04-9cc8-d31e1991ac53",
      "name": "Webhook Master Init",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3808,
        -5680
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  (SELECT json_agg(t) FROM (SELECT id, judul, konten, kategori, tanggal, emoji, gambar_data AS gambar_url, is_featured, priority, layout_size, col_span, row_span FROM public.bapperida_berita ORDER BY priority ASC, id DESC) t) AS berita,\n  (SELECT json_agg(t) FROM (SELECT id, judul, kategori, tipe, ukuran, tanggal, icon_data AS icon FROM public.bapperida_dokumen ORDER BY id DESC) t) AS dokumen,\n  (SELECT json_agg(t) FROM (SELECT id, gambar_data AS gambar_url, judul, subjudul FROM public.bapperida_slider ORDER BY id ASC) t) AS slider,\n  (SELECT json_agg(t) FROM (SELECT id, icon_data AS icon, title, cat, \"desc\", status, sc, priority FROM public.bapperida_program ORDER BY priority ASC, id ASC) t) AS program,\n  (SELECT json_agg(t) FROM (SELECT id, label, value, icon FROM public.bapperida_metrics ORDER BY priority ASC) t) AS metrics,\n  (SELECT json_agg(t) FROM (SELECT * FROM public.bapperida_inovasi WHERE status_approval = 'Approved' ORDER BY skor_iga DESC, id DESC) t) AS inovasi;",
        "options": {}
      },
      "id": "0cfe52f1-b944-47db-85cd-c579a7112233",
      "name": "DB Master Init",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3584,
        -5680
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "89fbe1da-57a8-4a5c-a444-ff4262d43ec6",
      "name": "Respond Master Init",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -3360,
        -5680
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-berita-add",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "90b5d5c8-2159-4c42-b4b1-adca4038bac0",
      "name": "Webhook berita Add",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3808,
        -4512
      ],
      "webhookId": "18603eda-c3f2-49b2-9d9b-a6c7154dc27e"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "d6b98fe1-17f4-463f-a2ab-fbef6dcbac0c",
      "name": "Auth Add berita",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -3584,
        -4512
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.bapperida_berita (judul, konten, kategori, tanggal, gambar_data, emoji, priority, layout_size, col_span, row_span, is_featured) VALUES ('{{$json.body.judul ? $json.body.judul.replace(/'/g, \"''\") : \"\"}}', '{{$json.body.konten ? $json.body.konten.replace(/'/g, \"''\") : \"\"}}', '{{$json.body.kategori || \"\"}}', '{{$json.body.tanggal || \"\"}}', '{{$json.body.gambar_url || \"\"}}', '{{$json.body.emoji || \"\"}}', {{$json.body.priority || 0}}, '{{$json.body.layout_size || \"normal\"}}', {{$json.body.col_span || 1}}, {{$json.body.row_span || 1}}, {{$json.body.is_featured ? true : false}}) RETURNING *;",
        "options": {}
      },
      "id": "5ee5a2ca-3a1a-4536-8781-e289f8f80c92",
      "name": "DB berita Add",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3360,
        -4560
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-berita-edit",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "934799c0-fd8d-4933-ad81-c6dac85fe4a4",
      "name": "Webhook berita Edit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3808,
        -4272
      ],
      "webhookId": "4d1fded0-e8b4-45ee-945e-62ba322d69a0"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "7d0f6a69-fbc1-4c56-9b38-ae6cb4846391",
      "name": "Auth Edit berita",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -3584,
        -4272
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.bapperida_berita SET judul = '{{$json.body.judul ? $json.body.judul.replace(/'/g, \"''\") : \"\"}}', konten = '{{$json.body.konten ? $json.body.konten.replace(/'/g, \"''\") : \"\"}}', kategori = '{{$json.body.kategori || \"\"}}', tanggal = '{{$json.body.tanggal || \"\"}}', gambar_data = '{{$json.body.gambar_url || \"\"}}', emoji = '{{$json.body.emoji || \"\"}}', priority = {{$json.body.priority || 0}}, layout_size = '{{$json.body.layout_size || \"normal\"}}', col_span = {{$json.body.col_span || 1}}, row_span = {{$json.body.row_span || 1}}, is_featured = {{$json.body.is_featured ? true : false}} WHERE id = {{$json.body.id}} RETURNING *;",
        "options": {}
      },
      "id": "597138f3-1fad-46a6-b83d-451a308dc757",
      "name": "DB berita Edit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3360,
        -4176
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-berita-delete",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "0c1e81dd-79e4-4a24-a6fc-a019c8d16481",
      "name": "Webhook berita Delete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3808,
        -4032
      ],
      "webhookId": "e7a9f156-a509-447c-b385-964c094b97ce"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "f742fbce-8a1c-4890-bee9-35a844cf4f42",
      "name": "Auth Del berita",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -3584,
        -4032
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM public.bapperida_berita WHERE id = {{$json.body.id}};",
        "options": {}
      },
      "id": "e31377c6-eff0-4823-b791-d771d0051f75",
      "name": "DB berita Delete",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3360,
        -3984
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Unauthorized",
        "options": {
          "responseCode": 401
        }
      },
      "id": "fc4386d0-bb62-4f42-a86f-b8f341586a83",
      "name": "Unauthorized berita",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -3360,
        -4368
      ]
    },
    {
      "parameters": {
        "path": "bapperida-dokumen-list",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "2b069833-c723-49ae-ad29-febd141d5452",
      "name": "Webhook dokumen List",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3808,
        -5232
      ],
      "webhookId": "2e16e398-5088-4eb6-8ac9-ba52b79f4bcc"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, judul, kategori, tipe, ukuran, tanggal, icon_data AS icon, \n       CASE WHEN '{{$json.query.id || \"\"}}' <> '' THEN url ELSE NULL END AS url\nFROM public.bapperida_dokumen \nWHERE '{{$json.query.id || \"\"}}' = '' OR id = NULLIF('{{$json.query.id || \"\"}}', '')::int\nORDER BY id DESC;",
        "options": {}
      },
      "id": "770d18ff-7f24-4fee-991c-6987d7440071",
      "name": "DB dokumen List",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3584,
        -5232
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-dokumen-add",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "5d91a371-a681-40e9-8805-f3dd844d4c6f",
      "name": "Webhook dokumen Add",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3808,
        -3744
      ],
      "webhookId": "0c0247b1-b7d6-4b05-9648-ad1c01195e29"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "ba9b330a-225d-43ee-9ab7-d023290b617b",
      "name": "Auth Add dokumen",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -3584,
        -3744
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.bapperida_dokumen (judul, kategori, tipe, ukuran, tanggal, icon_data, url) VALUES ('{{$json.body.judul.replace(/'/g, \"''\")}}', '{{$json.body.kategori}}', '{{$json.body.tipe}}', '{{$json.body.ukuran}}', '{{$json.body.tanggal}}', '{{$json.body.icon}}', '{{$json.body.url}}') RETURNING *;",
        "options": {}
      },
      "id": "574f374f-fa9c-4d9d-8238-c47173282065",
      "name": "DB dokumen Add",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3360,
        -3792
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-dokumen-edit",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "b0015666-6306-4d80-ac0a-13d902fc6645",
      "name": "Webhook dokumen Edit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3808,
        -3504
      ],
      "webhookId": "569d5daf-0d4a-4866-bd43-4666bd4547d8"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "8f026e30-002b-4df7-8339-224276a145a9",
      "name": "Auth Edit dokumen",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -3584,
        -3504
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.bapperida_dokumen SET judul = '{{$json.body.judul ? $json.body.judul.replace(/'/g, \"''\") : \"\"}}', kategori = '{{$json.body.kategori || \"\"}}', tipe = '{{$json.body.tipe || \"\"}}', ukuran = '{{$json.body.ukuran || \"\"}}', tanggal = '{{$json.body.tanggal || \"\"}}', icon_data = '{{$json.body.icon || \"\"}}', url = '{{$json.body.url || \"\"}}' WHERE id = {{$json.body.id}} RETURNING *;",
        "options": {}
      },
      "id": "a45cd036-f1a4-4c91-84d1-21221cda30f5",
      "name": "DB dokumen Edit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3360,
        -3408
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-dokumen-delete",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "7ac054a2-7d49-4390-9f36-3e75b0282ebe",
      "name": "Webhook dokumen Delete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3808,
        -3264
      ],
      "webhookId": "c55e9897-0656-4031-ab0d-5f1bd58c6cda"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "e4d1eafe-ef40-42f8-b8e8-8d2364d67a78",
      "name": "Auth Del dokumen",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -3584,
        -3264
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM public.bapperida_dokumen WHERE id = {{$json.body.id}};",
        "options": {}
      },
      "id": "9f6a865b-b72c-48fe-ae60-ae6cf2d457e3",
      "name": "DB dokumen Delete",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3360,
        -3216
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Unauthorized",
        "options": {
          "responseCode": 401
        }
      },
      "id": "8e17f7ff-cc84-4700-ae2f-9cf781748133",
      "name": "Unauthorized dokumen",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -3360,
        -3600
      ]
    },
    {
      "parameters": {
        "path": "bapperida-slider-list",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "87010ba9-f2e5-4281-886a-8d9d2aa3bc12",
      "name": "Webhook slider List",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3808,
        -5008
      ],
      "webhookId": "a4ab592d-41d7-4970-b92c-c5df8cd527f8"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, gambar_data AS gambar_url, judul, subjudul FROM public.bapperida_slider ORDER BY id ASC;",
        "options": {}
      },
      "id": "29fb496b-2213-4bdc-a4bf-87647be790b6",
      "name": "DB slider List",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3584,
        -5008
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-slider-add",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "cc799e47-3fa2-46c0-950f-1f288560a9df",
      "name": "Webhook slider Add",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3808,
        -2976
      ],
      "webhookId": "0c2b99d1-0da8-45e9-be05-e3e8f7381222"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "f41a8c31-affc-4389-9ebc-1b0b11335c51",
      "name": "Auth Add slider",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -3584,
        -2976
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.bapperida_slider (judul, subjudul, gambar_data) VALUES ('{{$json.body.judul ? $json.body.judul.replace(/'/g, \"''\") : \"\"}}', '{{$json.body.subjudul ? $json.body.subjudul.replace(/'/g, \"''\") : \"\"}}', '{{$json.body.gambar_url || \"\"}}') RETURNING *;",
        "options": {}
      },
      "id": "786d871f-9eb2-43dc-b7bd-eff19073889a",
      "name": "DB slider Add",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3360,
        -3024
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-slider-edit",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "f15c4564-33eb-4d1a-8dd1-4c0559894b94",
      "name": "Webhook slider Edit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3808,
        -2736
      ],
      "webhookId": "c61c2126-526c-4d71-8387-70303bc312ba"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "f60aef09-ed76-497b-92a7-832bd0d810a0",
      "name": "Auth Edit slider",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -3584,
        -2736
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.bapperida_slider SET judul = '{{$json.body.judul ? $json.body.judul.replace(/'/g, \"''\") : \"\"}}', subjudul = '{{$json.body.subjudul ? $json.body.subjudul.replace(/'/g, \"''\") : \"\"}}', gambar_data = '{{$json.body.gambar_url || \"\"}}' WHERE id = {{$json.body.id}} RETURNING *;",
        "options": {}
      },
      "id": "46c1e2ba-b4a2-4347-9044-3329317fda48",
      "name": "DB slider Edit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3360,
        -2640
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-slider-delete",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "168b1ecd-a998-4e0c-9436-9047c6a74aaa",
      "name": "Webhook slider Delete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3808,
        -2496
      ],
      "webhookId": "b1424c0b-fe54-4278-9344-e1f1606c3a56"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "49e6dd58-e14b-47ba-9d49-cfacc56e5b9e",
      "name": "Auth Del slider",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -3584,
        -2496
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM public.bapperida_slider WHERE id = {{$json.body.id}};",
        "options": {}
      },
      "id": "cff872ed-2141-431f-8e00-1016dc7e61f7",
      "name": "DB slider Delete",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3360,
        -2448
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Unauthorized",
        "options": {
          "responseCode": 401
        }
      },
      "id": "df6472a9-8e33-4a8d-a09a-9f342c58b4af",
      "name": "Unauthorized slider",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -3360,
        -2832
      ]
    },
    {
      "parameters": {
        "path": "bapperida-program-list",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "3ab5f5be-a5a3-45cc-abd1-0a1e2cf2d264",
      "name": "Webhook program List",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3808,
        -4784
      ],
      "webhookId": "pw1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, icon_data AS icon, title, cat, \"desc\", status, sc, priority FROM public.bapperida_program ORDER BY priority ASC, id ASC;",
        "options": {}
      },
      "id": "0499ee37-a167-4f57-802c-3f388b4cf559",
      "name": "DB program List",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3584,
        -4784
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-program-add",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "71f38cf3-0e0c-403c-9bd1-b77935fefe0c",
      "name": "Webhook program Add",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3808,
        -2208
      ],
      "webhookId": "pw2"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "91aa9473-32eb-4706-a154-568349f10fe4",
      "name": "Auth Add program",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -3584,
        -2208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.bapperida_program (icon_data, title, cat, \"desc\", status, sc, priority) VALUES ('{{$json.body.icon || \"\"}}', '{{$json.body.title ? $json.body.title.replace(/'/g, \"''\") : \"\"}}', '{{$json.body.cat || \"\"}}', '{{$json.body.desc ? $json.body.desc.replace(/'/g, \"''\") : \"\"}}', '{{$json.body.status || \"\"}}', '{{$json.body.sc || \"\"}}', {{$json.body.priority || 0}}) RETURNING *;",
        "options": {}
      },
      "id": "c8e78b9a-e355-409c-b5b2-9e192064736f",
      "name": "DB program Add",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3360,
        -2256
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-program-edit",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "c4f70d78-2626-49ac-bff9-d63c7b1dfe95",
      "name": "Webhook program Edit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3808,
        -1968
      ],
      "webhookId": "pw3"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "c456e384-c8ce-4ad7-ae42-af4e53e36a41",
      "name": "Auth Edit program",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -3584,
        -1968
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.bapperida_program SET icon_data = '{{$json.body.icon || \"\"}}', title = '{{$json.body.title ? $json.body.title.replace(/'/g, \"''\") : \"\"}}', cat = '{{$json.body.cat || \"\"}}', \"desc\" = '{{$json.body.desc ? $json.body.desc.replace(/'/g, \"''\") : \"\"}}', status = '{{$json.body.status || \"\"}}', sc = '{{$json.body.sc || \"\"}}', priority = {{$json.body.priority || 0}} WHERE id = {{$json.body.id}} RETURNING *;",
        "options": {}
      },
      "id": "edcb1cd1-23a6-47f2-b2b4-401c4017f2fe",
      "name": "DB program Edit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3360,
        -1824
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-program-delete",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "d55cb94c-bdf9-485f-8e04-d06a454bb84a",
      "name": "Webhook program Delete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3808,
        -1392
      ],
      "webhookId": "pw4"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "381a4702-7a35-47cc-9d94-7c917c7cb935",
      "name": "Auth Del program",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -3584,
        -1392
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM public.bapperida_program WHERE id = {{$json.body.id}};",
        "options": {}
      },
      "id": "394f9f6d-d2cd-44e1-b281-88b854dc2e7c",
      "name": "DB program Delete",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3360,
        -1248
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Unauthorized",
        "options": {
          "responseCode": 401
        }
      },
      "id": "1f6d6c99-cc06-4d76-b0f0-41409ed30f43",
      "name": "Unauthorized program",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -3360,
        -2016
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.data }}",
        "options": {}
      },
      "id": "da5774db-13e0-4fc9-a022-24723702a1d9",
      "name": "Respond berita List",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -3136,
        -5456
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.data }}",
        "options": {}
      },
      "id": "a06f6e1c-ec4a-48ef-b644-57a97b44ffd7",
      "name": "Respond dokumen List",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -3136,
        -5232
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.data }}",
        "options": {}
      },
      "id": "64bddb01-2519-4bea-88f6-d5a57df9f67d",
      "name": "Respond slider List",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -3136,
        -5008
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.data }}",
        "options": {}
      },
      "id": "b9f1ac9e-d29d-4deb-9730-d9fec9ca277d",
      "name": "Respond program List",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -3136,
        -4784
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json);\nreturn [{ json: { data: rows } }];"
      },
      "id": "fe52e1d6-9cd0-4a45-8164-af6fec46283a",
      "name": "Aggregate berita",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3360,
        -5456
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json);\nreturn [{ json: { data: rows } }];"
      },
      "id": "5aa8a74e-c2c5-49da-84ea-9dba8c1a9d91",
      "name": "Aggregate dokumen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3360,
        -5232
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json);\nreturn [{ json: { data: rows } }];"
      },
      "id": "50cd27fa-7a36-48ed-ae02-995ab0a8065c",
      "name": "Aggregate slider",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3360,
        -5008
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json);\nreturn [{ json: { data: rows } }];"
      },
      "id": "a6583b43-ffd3-495a-83ff-312a5e1e6681",
      "name": "Aggregate program",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3360,
        -4784
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"Unauthorized\"\n}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "12ca94e4-741c-4f5c-aa6e-334d39acafc2",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -3360,
        -1440
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-metric-save",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1c9098fc-ddd8-445f-8316-07fa807c3310",
      "name": "Webhook Metric Edit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3808,
        -1632
      ],
      "webhookId": "cc5a2215-3fd5-4d3f-bba3-6043be40642b"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "a6fffb3d-de8d-4750-b131-995d60a51a6a",
      "name": "Auth Metric Edit",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -3584,
        -1632
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.bapperida_metrics SET value = '{{$json.body.value ? $json.body.value.replace(/'/g, \"''\") : \"\"}}' WHERE id = '{{$json.body.id}}' RETURNING *;",
        "options": {}
      },
      "id": "e4429ea6-7c15-4fcf-b018-d33d643938c3",
      "name": "DB Metric Edit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3360,
        -1632
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-inovasi-submit",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "8e80fd95-26c6-4be3-8886-612e9917aabc",
      "name": "Webhook Inovasi Submit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3584,
        -672
      ],
      "webhookId": "d57a0e3b-8f85-44f2-8dcc-c436eaeaa636"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.bapperida_inovasi (opd_nama, judul_inovasi, nama_inovator, jenis_inovasi, tahapan_inovasi, rancang_bangun, link_video, dokumen_dukung, skor_iga, kategori_skor, regulasi_inovasi, anggaran_inovasi, waktu_uji_coba, waktu_penerapan) VALUES ('{{$json.body.opd_nama ? $json.body.opd_nama.replace(/'/g, \"''\") : \"\"}}', '{{$json.body.judul_inovasi ? $json.body.judul_inovasi.replace(/'/g, \"''\") : \"\"}}', '{{$json.body.nama_inovator ? $json.body.nama_inovator.replace(/'/g, \"''\") : \"\"}}', '{{$json.body.jenis_inovasi || \"\"}}', '{{$json.body.tahapan_inovasi || \"\"}}', '{{$json.body.rancang_bangun ? $json.body.rancang_bangun.replace(/'/g, \"''\") : \"\"}}', '{{$json.body.link_video || \"\"}}', '{{$json.body.dokumen_dukung ? JSON.stringify($json.body.dokumen_dukung) : \"[]\"}}'::jsonb, {{$json.body.skor_iga || 0}}, '{{$json.body.kategori_skor || \"Kurang\"}}', '{{$json.body.regulasi_inovasi || \"\"}}', '{{$json.body.anggaran_inovasi || \"\"}}', NULLIF('{{$json.body.waktu_uji_coba || \"\"}}', '')::date, NULLIF('{{$json.body.waktu_penerapan || \"\"}}', '')::date) RETURNING *;",
        "options": {}
      },
      "id": "a2ffe2ed-30d5-4d0a-94a1-ef1a255b21b1",
      "name": "DB Inovasi Submit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3360,
        -672
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-inovasi-approve",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "b87ff5fe-a396-4e09-8a8c-340574b3b45c",
      "name": "Webhook Inovasi Approve",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3808,
        -1152
      ],
      "webhookId": "224cfa30-d686-4aa4-92bd-59d1d92a5f4d"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "f50a1d66-823a-46aa-aedc-73367d16de5e",
      "name": "Auth Inovasi Approve",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -3584,
        -1152
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.bapperida_inovasi SET status_approval = 'Approved' WHERE id = {{$json.body.id}} RETURNING *;",
        "options": {}
      },
      "id": "c459ca03-b543-463a-b677-5edd90e7dd77",
      "name": "DB Inovasi Approve",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3360,
        -1056
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-inovasi-delete",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "54af8976-5822-4720-bf57-ab3be856e8ff",
      "name": "Webhook Inovasi Delete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3808,
        -864
      ],
      "webhookId": "a222aba0-318d-430c-a291-5cc06587c9cb"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "1514e43d-2fd3-4536-9fdb-b5d45d3b4c34",
      "name": "Auth Inovasi Delete",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -3584,
        -864
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM public.bapperida_inovasi WHERE id = {{$json.body.id}} RETURNING *;",
        "options": {}
      },
      "id": "a199ff0b-e1a6-4f61-a338-c053b3f920f3",
      "name": "DB Inovasi Delete",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3360,
        -864
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "path": "bapperida-inovasi-list",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "19d561fc-438d-419b-8379-6a3b59c5fd3c",
      "name": "Webhook Inovasi List",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3808,
        -320
      ],
      "webhookId": "7df31d2b-345a-4640-94e1-e78be13555ba"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM public.bapperida_inovasi ORDER BY created_at DESC;",
        "options": {}
      },
      "id": "b4ede037-c693-412a-a65e-2737dc6b7a92",
      "name": "DB Inovasi List",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3584,
        -320
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "ce6cef3f-7f5d-465e-9bb4-0f45c6057ed8",
      "name": "Respond Inovasi List",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -3360,
        -320
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-upload-file",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "f5adf158-7063-4143-99a4-0b7b37fa1c8a",
      "name": "Webhook Upload File",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3824,
        -64
      ],
      "webhookId": "bapperida-upload-file-2026"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst raw = (item.base64 || '').includes('base64,')\n  ? item.base64.split('base64,')[1]\n  : (item.base64 || '');\nconst buf = Buffer.from(raw, 'base64');\nreturn [{\n  json: { name: item.name || 'file', mimeType: item.mimeType || 'application/octet-stream' },\n  binary: { data: buf }\n}];"
      },
      "id": "5e4bef6e-467d-4322-8319-9fd432cf7018",
      "name": "Convert Base64 to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3600,
        -64
      ]
    },
    {
      "parameters": {
        "name": "={{ $json.name }}",
        "parents": [
          "1yJXskcIfVjH-X7HWQh0b-BgnmTimkNQs"
        ],
        "options": {}
      },
      "id": "b2dc57ca-1d5f-448e-8fbd-f55fff7cea7a",
      "name": "Google Drive Upload",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 2,
      "position": [
        -3376,
        -64
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "53IL2urNBWm95sLS",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { url: $json.webViewLink, id: $json.id, name: $json.name } }}",
        "options": {}
      },
      "id": "b7455630-bb85-4070-a203-12abb7748cde",
      "name": "Respond Upload File",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -3152,
        -64
      ]
    }
  ],
  "connections": {
    "Webhook Kontak Submit": {
      "main": [
        [
          {
            "node": "Send Email Bapperida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Bapperida": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook berita List": {
      "main": [
        [
          {
            "node": "DB berita List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB berita List": {
      "main": [
        [
          {
            "node": "Aggregate berita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Master Init": {
      "main": [
        [
          {
            "node": "DB Master Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Master Init": {
      "main": [
        [
          {
            "node": "Respond Master Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook berita Add": {
      "main": [
        [
          {
            "node": "Auth Add berita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Add berita": {
      "main": [
        [
          {
            "node": "DB berita Add",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized berita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB berita Add": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook berita Edit": {
      "main": [
        [
          {
            "node": "Auth Edit berita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Edit berita": {
      "main": [
        [
          {
            "node": "DB berita Edit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized berita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB berita Edit": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook berita Delete": {
      "main": [
        [
          {
            "node": "Auth Del berita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Del berita": {
      "main": [
        [
          {
            "node": "DB berita Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized berita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB berita Delete": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook dokumen List": {
      "main": [
        [
          {
            "node": "DB dokumen List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB dokumen List": {
      "main": [
        [
          {
            "node": "Aggregate dokumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook dokumen Add": {
      "main": [
        [
          {
            "node": "Auth Add dokumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Add dokumen": {
      "main": [
        [
          {
            "node": "DB dokumen Add",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized dokumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB dokumen Add": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook dokumen Edit": {
      "main": [
        [
          {
            "node": "Auth Edit dokumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Edit dokumen": {
      "main": [
        [
          {
            "node": "DB dokumen Edit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized dokumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB dokumen Edit": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook dokumen Delete": {
      "main": [
        [
          {
            "node": "Auth Del dokumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Del dokumen": {
      "main": [
        [
          {
            "node": "DB dokumen Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized dokumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB dokumen Delete": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook slider List": {
      "main": [
        [
          {
            "node": "DB slider List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB slider List": {
      "main": [
        [
          {
            "node": "Aggregate slider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook slider Add": {
      "main": [
        [
          {
            "node": "Auth Add slider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Add slider": {
      "main": [
        [
          {
            "node": "DB slider Add",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized slider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB slider Add": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook slider Edit": {
      "main": [
        [
          {
            "node": "Auth Edit slider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Edit slider": {
      "main": [
        [
          {
            "node": "DB slider Edit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized slider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB slider Edit": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook slider Delete": {
      "main": [
        [
          {
            "node": "Auth Del slider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Del slider": {
      "main": [
        [
          {
            "node": "DB slider Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized slider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB slider Delete": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook program List": {
      "main": [
        [
          {
            "node": "DB program List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB program List": {
      "main": [
        [
          {
            "node": "Aggregate program",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook program Add": {
      "main": [
        [
          {
            "node": "Auth Add program",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Add program": {
      "main": [
        [
          {
            "node": "DB program Add",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized program",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB program Add": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook program Edit": {
      "main": [
        [
          {
            "node": "Auth Edit program",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Edit program": {
      "main": [
        [
          {
            "node": "DB program Edit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized program",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB program Edit": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook program Delete": {
      "main": [
        [
          {
            "node": "Auth Del program",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Del program": {
      "main": [
        [
          {
            "node": "DB program Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized program",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB program Delete": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate berita": {
      "main": [
        [
          {
            "node": "Respond berita List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate dokumen": {
      "main": [
        [
          {
            "node": "Respond dokumen List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate slider": {
      "main": [
        [
          {
            "node": "Respond slider List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate program": {
      "main": [
        [
          {
            "node": "Respond program List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Metric Edit": {
      "main": [
        [
          {
            "node": "Auth Metric Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Metric Edit": {
      "main": [
        [
          {
            "node": "DB Metric Edit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Metric Edit": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Inovasi Submit": {
      "main": [
        [
          {
            "node": "DB Inovasi Submit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Inovasi Submit": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Inovasi Approve": {
      "main": [
        [
          {
            "node": "Auth Inovasi Approve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Inovasi Approve": {
      "main": [
        [
          {
            "node": "DB Inovasi Approve",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Inovasi Approve": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Inovasi Delete": {
      "main": [
        [
          {
            "node": "Auth Inovasi Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Inovasi Delete": {
      "main": [
        [
          {
            "node": "DB Inovasi Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Inovasi Delete": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Inovasi List": {
      "main": [
        [
          {
            "node": "DB Inovasi List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Inovasi List": {
      "main": [
        [
          {
            "node": "Respond Inovasi List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Upload File": {
      "main": [
        [
          {
            "node": "Convert Base64 to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Base64 to Binary": {
      "main": [
        [
          {
            "node": "Google Drive Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Upload": {
      "main": [
        [
          {
            "node": "Respond Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b55943efb5f219d407bc408d9277d6d643804fc75070b4ed56250fe03c8ea67"
  }
}