n8n-bapperida-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-kontak-submit",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "84650125-05ec-48ff-a5c7-4b698aada22f",
      "name": "Webhook Kontak Submit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -288,
        3456
      ],
      "webhookId": "eb2c7329-197a-4539-bc38-1cd0f3723ae9"
    },
    {
      "parameters": {
        "fromEmail": "no-reply@mindcloud.my.id",
        "toEmail": "bapperida@sumbabarat.go.id, bapperidasb@gmail.com",
        "subject": "=Pesan Baru: {{$json[\"perihal\"]}}",
        "text": "=Nama: {{$json[\"nama\"]}}\nEmail: {{$json[\"email\"]}}\nInstansi: {{$json[\"instansi\"]}}\n\nPesan:\n{{$json[\"pesan\"]}}",
        "options": {}
      },
      "id": "ef4b236f-5a36-454b-a48d-cd968786df6e",
      "name": "Send Email Bapperida",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        -64,
        3456
      ],
      "webhookId": "f32bfd36-5934-44d6-b2b9-9b53650f2e27",
      "credentials": {
        "smtp": {
          "id": "XhJ2Lg5tFsFIyO11",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"success\"}",
        "options": {}
      },
      "id": "4f5bbaa0-2997-4b6b-970b-1ccb606cfdd7",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        160,
        1488
      ]
    },
    {
      "parameters": {
        "path": "bapperida-berita-list",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "b7852806-9fbb-4529-b2d7-157aaf69a292",
      "name": "Webhook berita List",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -512,
        -1520
      ],
      "webhookId": "15291e59-d856-4c19-ae8e-ff13118c34b7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, judul, konten, kategori, tanggal, emoji, gambar_data AS gambar_url, is_featured, priority, layout_size, col_span, row_span FROM public.bapperida_berita ORDER BY priority ASC, id DESC;",
        "options": {}
      },
      "id": "77fbed0a-6fa4-4b59-add3-3a3c594afb3e",
      "name": "DB berita List",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -288,
        -1520
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "path": "bapperida-init",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "bapperida-init-unique-id-2026",
      "id": "ee7a463e-b169-43d7-ada3-30b65af7f2dd",
      "name": "Webhook Master Init",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -512,
        -1744
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS public.bapperida_metrics (id VARCHAR(50) PRIMARY KEY, label VARCHAR(255), value VARCHAR(255), icon VARCHAR(50), priority INT);\nINSERT INTO public.bapperida_metrics (id, label, value, icon, priority) VALUES ('ipd_2025', 'Indeks Pembangunan Daerah Kabupaten Sumba Barat', 'Menunggu Data', '📈', 1), ('iprid_2025', 'Indeks Pemanfaatan Riset dan Inovasi Daerah', 'Menunggu Data', '🔬', 2), ('sakip_2025', 'NILAI SAKIP Bapperida Tahun 2025', 'Menunggu Data', '🏆', 3) ON CONFLICT DO NOTHING;\nCREATE TABLE IF NOT EXISTS public.bapperida_inovasi (id SERIAL PRIMARY KEY, opd_nama VARCHAR(255), judul_inovasi VARCHAR(255), jenis_inovasi VARCHAR(100), tahapan_inovasi VARCHAR(100), rancang_bangun TEXT, waktu_uji_coba DATE, waktu_penerapan DATE, link_video VARCHAR(255), dokumen_dukung JSONB, skor_iga INT DEFAULT 0, kategori_skor VARCHAR(50), status_approval VARCHAR(50) DEFAULT 'Pending', created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP);\n\nSELECT \n  (SELECT json_agg(t) FROM (SELECT id, judul, konten, kategori, tanggal, emoji, gambar_data AS gambar_url, is_featured, priority, layout_size, col_span, row_span FROM public.bapperida_berita ORDER BY priority ASC, id DESC) t) AS berita,\n  (SELECT json_agg(t) FROM (SELECT id, judul, kategori, tipe, ukuran, tanggal, icon_data AS icon, url FROM public.bapperida_dokumen ORDER BY id DESC) t) AS dokumen,\n  (SELECT json_agg(t) FROM (SELECT id, gambar_data AS gambar_url, judul, subjudul FROM public.bapperida_slider ORDER BY id ASC) t) AS slider,\n  (SELECT json_agg(t) FROM (SELECT id, icon_data AS icon, title, cat, \"desc\", status, sc, priority FROM public.bapperida_program ORDER BY priority ASC, id ASC) t) AS program,\n  (SELECT json_agg(t) FROM (SELECT id, label, value, icon FROM public.bapperida_metrics ORDER BY priority ASC) t) AS metrics,\n  (SELECT json_agg(t) FROM (SELECT * FROM public.bapperida_inovasi WHERE status_approval = 'Approved' ORDER BY skor_iga DESC, id DESC) t) AS inovasi;",
        "options": {}
      },
      "id": "477f259e-cff6-4ddf-9f5d-78ede02d6890",
      "name": "DB Master Init",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -288,
        -1744
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "bd5bcec6-b878-4183-964b-1920d6acd12d",
      "name": "Respond Master Init",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -64,
        -1744
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-berita-add",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "6217606a-c2ec-4993-8def-8cdacc68a418",
      "name": "Webhook berita Add",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -512,
        -576
      ],
      "webhookId": "18603eda-c3f2-49b2-9d9b-a6c7154dc27e"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "8d870ba3-5f9a-45c4-b59e-4527daaa0e32",
      "name": "Auth Add berita",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -288,
        -576
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.bapperida_berita (judul, konten, kategori, tanggal, gambar_data, emoji, priority, layout_size, col_span, row_span, is_featured) VALUES ('{{$json.body.judul ? $json.body.judul.replace(/'/g, \"''\") : \"\"}}', '{{$json.body.konten ? $json.body.konten.replace(/'/g, \"''\") : \"\"}}', '{{$json.body.kategori || \"\"}}', '{{$json.body.tanggal || \"\"}}', '{{$json.body.gambar_url || \"\"}}', '{{$json.body.emoji || \"\"}}', {{$json.body.priority || 0}}, '{{$json.body.layout_size || \"normal\"}}', {{$json.body.col_span || 1}}, {{$json.body.row_span || 1}}, {{$json.body.is_featured ? true : false}}) RETURNING *;",
        "options": {}
      },
      "id": "aa256515-a56a-47c4-8dab-1f606245cbcd",
      "name": "DB berita Add",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        -624
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-berita-edit",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "7467e8d2-039c-4b3e-8d9a-881d3aa997da",
      "name": "Webhook berita Edit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -512,
        -336
      ],
      "webhookId": "4d1fded0-e8b4-45ee-945e-62ba322d69a0"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "3c48ce23-b1b4-4b05-b8ec-6404ef51d047",
      "name": "Auth Edit berita",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -288,
        -336
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.bapperida_berita SET judul = '{{$json.body.judul ? $json.body.judul.replace(/'/g, \"''\") : \"\"}}', konten = '{{$json.body.konten ? $json.body.konten.replace(/'/g, \"''\") : \"\"}}', kategori = '{{$json.body.kategori || \"\"}}', tanggal = '{{$json.body.tanggal || \"\"}}', gambar_data = '{{$json.body.gambar_url || \"\"}}', emoji = '{{$json.body.emoji || \"\"}}', priority = {{$json.body.priority || 0}}, layout_size = '{{$json.body.layout_size || \"normal\"}}', col_span = {{$json.body.col_span || 1}}, row_span = {{$json.body.row_span || 1}}, is_featured = {{$json.body.is_featured ? true : false}} WHERE id = {{$json.body.id}} RETURNING *;",
        "options": {}
      },
      "id": "abfcc2a2-a14b-4f56-bb0b-a3394a0a2085",
      "name": "DB berita Edit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        -240
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-berita-delete",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "4bfc1daf-f3bf-418f-bfa6-7339fbf1dec9",
      "name": "Webhook berita Delete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -512,
        -96
      ],
      "webhookId": "e7a9f156-a509-447c-b385-964c094b97ce"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "63caa6a8-7b7b-45f2-a5dc-ac29b1611f5d",
      "name": "Auth Del berita",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -288,
        -96
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM public.bapperida_berita WHERE id = {{$json.body.id}};",
        "options": {}
      },
      "id": "0c5b702e-f14c-428b-92ef-1dd47f7586d8",
      "name": "DB berita Delete",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        -48
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Unauthorized",
        "options": {
          "responseCode": 401
        }
      },
      "id": "002bd8c3-b8a6-4086-88d0-6e666db6c25b",
      "name": "Unauthorized berita",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -64,
        -432
      ]
    },
    {
      "parameters": {
        "path": "bapperida-dokumen-list",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "57c8c5fd-f12b-4aea-8610-37577841ff0e",
      "name": "Webhook dokumen List",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -512,
        -1296
      ],
      "webhookId": "2e16e398-5088-4eb6-8ac9-ba52b79f4bcc"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, judul, kategori, tipe, ukuran, tanggal, icon_data AS icon, url FROM public.bapperida_dokumen ORDER BY id DESC;",
        "options": {}
      },
      "id": "b4cb8716-43df-4a84-bc44-82859204135b",
      "name": "DB dokumen List",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -288,
        -1296
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-dokumen-add",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "7d0a7a69-7da3-4a7d-b782-d61a9f063f09",
      "name": "Webhook dokumen Add",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -512,
        192
      ],
      "webhookId": "0c0247b1-b7d6-4b05-9648-ad1c01195e29"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "2f1364e4-2f7f-4056-a983-aa9ec8ec9c03",
      "name": "Auth Add dokumen",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -288,
        192
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.bapperida_dokumen (judul, kategori, tipe, ukuran, tanggal, icon_data, url) VALUES ('{{$json.body.judul.replace(/'/g, \"''\")}}', '{{$json.body.kategori}}', '{{$json.body.tipe}}', '{{$json.body.ukuran}}', '{{$json.body.tanggal}}', '{{$json.body.icon}}', '{{$json.body.url}}') RETURNING *;",
        "options": {}
      },
      "id": "d2d1881c-94d5-4f3f-9d57-6ce83eaff170",
      "name": "DB dokumen Add",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        144
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-dokumen-edit",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a5c041c4-0970-4e84-b636-ac599f74fbd2",
      "name": "Webhook dokumen Edit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -512,
        432
      ],
      "webhookId": "569d5daf-0d4a-4866-bd43-4666bd4547d8"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "e41b8621-d3f9-4081-8b79-30ad3d314570",
      "name": "Auth Edit dokumen",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -288,
        432
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.bapperida_dokumen SET judul = '{{$json.body.judul ? $json.body.judul.replace(/'/g, \"''\") : \"\"}}', kategori = '{{$json.body.kategori || \"\"}}', tipe = '{{$json.body.tipe || \"\"}}', ukuran = '{{$json.body.ukuran || \"\"}}', tanggal = '{{$json.body.tanggal || \"\"}}', icon_data = '{{$json.body.icon || \"\"}}', url = '{{$json.body.url || \"\"}}' WHERE id = {{$json.body.id}} RETURNING *;",
        "options": {}
      },
      "id": "1c52355d-3bcc-439d-ac8f-bccae1de7a37",
      "name": "DB dokumen Edit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        528
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-dokumen-delete",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a280ba09-9a1b-4669-b0ec-768d1e90dc85",
      "name": "Webhook dokumen Delete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -512,
        672
      ],
      "webhookId": "c55e9897-0656-4031-ab0d-5f1bd58c6cda"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "9f7917d7-c284-4edf-a2ff-92ed8f67bec1",
      "name": "Auth Del dokumen",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -288,
        672
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM public.bapperida_dokumen WHERE id = {{$json.body.id}};",
        "options": {}
      },
      "id": "9b84b24b-de9a-490e-bacd-27e61948b368",
      "name": "DB dokumen Delete",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        720
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Unauthorized",
        "options": {
          "responseCode": 401
        }
      },
      "id": "367264c1-b4bf-4284-bba7-bfc269b16349",
      "name": "Unauthorized dokumen",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -64,
        336
      ]
    },
    {
      "parameters": {
        "path": "bapperida-slider-list",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "5d999864-2099-4a8f-8add-a63de53cd23a",
      "name": "Webhook slider List",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -512,
        -1072
      ],
      "webhookId": "a4ab592d-41d7-4970-b92c-c5df8cd527f8"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, gambar_data AS gambar_url, judul, subjudul FROM public.bapperida_slider ORDER BY id ASC;",
        "options": {}
      },
      "id": "f9ec13d7-662b-4ce2-8714-0265fe94f93b",
      "name": "DB slider List",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -288,
        -1072
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-slider-add",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "64d6e277-0ed8-4d78-96db-2a6dc5673e5b",
      "name": "Webhook slider Add",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -512,
        960
      ],
      "webhookId": "0c2b99d1-0da8-45e9-be05-e3e8f7381222"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "39c98e02-bbc5-4dfd-a11f-11020e33794b",
      "name": "Auth Add slider",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -288,
        960
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.bapperida_slider (judul, subjudul, gambar_data) VALUES ('{{$json.body.judul ? $json.body.judul.replace(/'/g, \"''\") : \"\"}}', '{{$json.body.subjudul ? $json.body.subjudul.replace(/'/g, \"''\") : \"\"}}', '{{$json.body.gambar_url || \"\"}}') RETURNING *;",
        "options": {}
      },
      "id": "07ba3bfe-578f-4fde-9b02-88da6766bb6e",
      "name": "DB slider Add",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        912
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-slider-edit",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "dd719079-6abc-484e-8c67-1c207a22402f",
      "name": "Webhook slider Edit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -512,
        1200
      ],
      "webhookId": "c61c2126-526c-4d71-8387-70303bc312ba"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "a66dc308-5c7d-4e13-9e66-5b20fc5e28ad",
      "name": "Auth Edit slider",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -288,
        1200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.bapperida_slider SET judul = '{{$json.body.judul ? $json.body.judul.replace(/'/g, \"''\") : \"\"}}', subjudul = '{{$json.body.subjudul ? $json.body.subjudul.replace(/'/g, \"''\") : \"\"}}', gambar_data = '{{$json.body.gambar_url || \"\"}}' WHERE id = {{$json.body.id}} RETURNING *;",
        "options": {}
      },
      "id": "f11832dc-0e94-4672-b3a3-8f46f512e4d6",
      "name": "DB slider Edit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        1296
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-slider-delete",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "3f702edb-2c65-41f4-9546-5043c9246739",
      "name": "Webhook slider Delete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -512,
        1440
      ],
      "webhookId": "b1424c0b-fe54-4278-9344-e1f1606c3a56"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "e84ee5c6-1ca9-40c0-a15f-8d669e209dcb",
      "name": "Auth Del slider",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -288,
        1440
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM public.bapperida_slider WHERE id = {{$json.body.id}};",
        "options": {}
      },
      "id": "4569790a-d2ee-4e17-af0d-92d26d620bc2",
      "name": "DB slider Delete",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        1488
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Unauthorized",
        "options": {
          "responseCode": 401
        }
      },
      "id": "a8c1cc18-9d51-4910-a90a-86fef2fa39c2",
      "name": "Unauthorized slider",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -64,
        1104
      ]
    },
    {
      "parameters": {
        "path": "bapperida-program-list",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "eee55036-3ac3-4c88-89f0-631a685c9225",
      "name": "Webhook program List",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -512,
        -848
      ],
      "webhookId": "pw1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, icon_data AS icon, title, cat, \"desc\", status, sc, priority FROM public.bapperida_program ORDER BY priority ASC, id ASC;",
        "options": {}
      },
      "id": "dedf5186-9cbd-4766-86bc-7eaf75436b36",
      "name": "DB program List",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -288,
        -848
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-program-add",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "55b63881-ecab-4157-a54e-cd09b4871c85",
      "name": "Webhook program Add",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -512,
        1728
      ],
      "webhookId": "pw2"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "4d9f4afa-77c8-47fa-bc2b-652e76c59a7f",
      "name": "Auth Add program",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -288,
        1728
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.bapperida_program (icon_data, title, cat, \"desc\", status, sc, priority) VALUES ('{{$json.body.icon || \"\"}}', '{{$json.body.title ? $json.body.title.replace(/'/g, \"''\") : \"\"}}', '{{$json.body.cat || \"\"}}', '{{$json.body.desc ? $json.body.desc.replace(/'/g, \"''\") : \"\"}}', '{{$json.body.status || \"\"}}', '{{$json.body.sc || \"\"}}', {{$json.body.priority || 0}}) RETURNING *;",
        "options": {}
      },
      "id": "e7def483-ddfb-4a44-88cd-6b2d094e4ccd",
      "name": "DB program Add",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        1680
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-program-edit",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "63684221-d3dd-46e5-8c9e-f005a5bd9834",
      "name": "Webhook program Edit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -512,
        1968
      ],
      "webhookId": "pw3"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "f37a8f48-dc70-4511-bde6-ffcdb354edb8",
      "name": "Auth Edit program",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -288,
        1968
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.bapperida_program SET icon_data = '{{$json.body.icon || \"\"}}', title = '{{$json.body.title ? $json.body.title.replace(/'/g, \"''\") : \"\"}}', cat = '{{$json.body.cat || \"\"}}', \"desc\" = '{{$json.body.desc ? $json.body.desc.replace(/'/g, \"''\") : \"\"}}', status = '{{$json.body.status || \"\"}}', sc = '{{$json.body.sc || \"\"}}', priority = {{$json.body.priority || 0}} WHERE id = {{$json.body.id}} RETURNING *;",
        "options": {}
      },
      "id": "eab26a57-eed9-4cf1-8839-45b9aa8179d8",
      "name": "DB program Edit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        2112
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-program-delete",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "3a5d7193-d80c-430b-a034-f54302349c65",
      "name": "Webhook program Delete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -512,
        2544
      ],
      "webhookId": "pw4"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "bdd598f9-e0e1-47cd-86e1-83a6a07c2407",
      "name": "Auth Del program",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -288,
        2544
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM public.bapperida_program WHERE id = {{$json.body.id}};",
        "options": {}
      },
      "id": "d013789a-4a66-469a-82fd-e91ad974f43f",
      "name": "DB program Delete",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        2688
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Unauthorized",
        "options": {
          "responseCode": 401
        }
      },
      "id": "9dfa3d82-8f0e-4e04-a4f2-297809a8f819",
      "name": "Unauthorized program",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -64,
        1920
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.data }}",
        "options": {}
      },
      "id": "8ebd351b-10de-466d-8ba3-3bc08cceea93",
      "name": "Respond berita List",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        160,
        -1520
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.data }}",
        "options": {}
      },
      "id": "d5658526-2cda-4161-8257-7523fb13e132",
      "name": "Respond dokumen List",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        160,
        -1296
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.data }}",
        "options": {}
      },
      "id": "1a35f8d7-927d-4682-b4c5-03cc8a5b68f6",
      "name": "Respond slider List",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        160,
        -1072
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.data }}",
        "options": {}
      },
      "id": "e01e0e3c-c88f-4949-b31d-72a4924105cd",
      "name": "Respond program List",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        160,
        -848
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json);\nreturn [{ json: { data: rows } }];"
      },
      "id": "9d662388-4fcb-4404-a669-540e27eef85d",
      "name": "Aggregate berita",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -1520
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json);\nreturn [{ json: { data: rows } }];"
      },
      "id": "453a8653-c431-419e-a8c3-37cee4ae8d72",
      "name": "Aggregate dokumen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -1296
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json);\nreturn [{ json: { data: rows } }];"
      },
      "id": "3f7fa3b5-0e7f-4119-ade3-8943d62ced18",
      "name": "Aggregate slider",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -1072
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json);\nreturn [{ json: { data: rows } }];"
      },
      "id": "227c004d-f53a-4586-8bef-65dc8b15a7da",
      "name": "Aggregate program",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -848
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"Unauthorized\"\n}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "94252c9a-89f0-41ae-9105-6d46551873b4",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -64,
        2496
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-metric-save",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "f03b07bf-9aad-4bba-9f9f-ae20d5dfde29",
      "name": "Webhook Metric Edit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -512,
        2304
      ],
      "webhookId": "cc5a2215-3fd5-4d3f-bba3-6043be40642b"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "77acf400-fa4b-4860-94bc-24653b92d882",
      "name": "Auth Metric Edit",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -288,
        2304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.bapperida_metrics SET value = '{{$json.body.value ? $json.body.value.replace(/'/g, \"''\") : \"\"}}' WHERE id = '{{$json.body.id}}' RETURNING *;",
        "options": {}
      },
      "id": "643ed20d-7548-4bee-8f3e-007df6f184b0",
      "name": "DB Metric Edit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        2304
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-inovasi-submit",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "ee8df6ab-99bf-4482-a524-121a578d4664",
      "name": "Webhook Inovasi Submit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -288,
        3264
      ],
      "webhookId": "d57a0e3b-8f85-44f2-8dcc-c436eaeaa636"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.bapperida_inovasi (opd_nama, judul_inovasi, jenis_inovasi, tahapan_inovasi, rancang_bangun, link_video, dokumen_dukung, skor_iga, kategori_skor) VALUES ('{{$json.body.opd_nama ? $json.body.opd_nama.replace(/'/g, \"''\") : \"\"}}', '{{$json.body.judul_inovasi ? $json.body.judul_inovasi.replace(/'/g, \"''\") : \"\"}}', '{{$json.body.jenis_inovasi || \"\"}}', '{{$json.body.tahapan_inovasi || \"\"}}', '{{$json.body.rancang_bangun ? $json.body.rancang_bangun.replace(/'/g, \"''\") : \"\"}}', '{{$json.body.link_video || \"\"}}', '{{$json.body.dokumen_dukung ? JSON.stringify($json.body.dokumen_dukung) : \"[]\"}}'::jsonb, {{$json.body.skor_iga || 0}}, '{{$json.body.kategori_skor || \"Kurang\"}}') RETURNING *;",
        "options": {}
      },
      "id": "63853ab5-057d-449b-b435-60430372de83",
      "name": "DB Inovasi Submit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        3264
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-inovasi-approve",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a1622757-4c94-44c0-bd73-abee81d6fb02",
      "name": "Webhook Inovasi Approve",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -512,
        2784
      ],
      "webhookId": "224cfa30-d686-4aa4-92bd-59d1d92a5f4d"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "63c3a03f-06d0-4fb8-8d69-4e99ae0af7b4",
      "name": "Auth Inovasi Approve",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -288,
        2784
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.bapperida_inovasi SET status_approval = 'Approved' WHERE id = {{$json.body.id}} RETURNING *;",
        "options": {}
      },
      "id": "586e6187-1cca-4ca7-8b37-0d080922f306",
      "name": "DB Inovasi Approve",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        2880
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bapperida-inovasi-delete",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "07d58f9f-aed5-4b57-a8a4-68d01dfa39a9",
      "name": "Webhook Inovasi Delete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -512,
        3072
      ],
      "webhookId": "a222aba0-318d-430c-a291-5cc06587c9cb"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['x-app-token']}}",
              "value2": "BAPPERIDA_SECURE_TOKEN_2026"
            }
          ]
        }
      },
      "id": "7484bbaf-ce90-4c85-a531-6f3c65c853ca",
      "name": "Auth Inovasi Delete",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -288,
        3072
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM public.bapperida_inovasi WHERE id = {{$json.body.id}} RETURNING *;",
        "options": {}
      },
      "id": "80524876-15f6-4c03-bdb0-828fea7219b7",
      "name": "DB Inovasi Delete",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        3072
      ],
      "credentials": {
        "postgres": {
          "id": "vYOiyrTftLtD3zzd",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Webhook Kontak Submit": {
      "main": [
        [
          {
            "node": "Send Email Bapperida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Bapperida": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook berita List": {
      "main": [
        [
          {
            "node": "DB berita List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB berita List": {
      "main": [
        [
          {
            "node": "Aggregate berita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Master Init": {
      "main": [
        [
          {
            "node": "DB Master Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Master Init": {
      "main": [
        [
          {
            "node": "Respond Master Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook berita Add": {
      "main": [
        [
          {
            "node": "Auth Add berita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Add berita": {
      "main": [
        [
          {
            "node": "DB berita Add",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized berita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB berita Add": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook berita Edit": {
      "main": [
        [
          {
            "node": "Auth Edit berita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Edit berita": {
      "main": [
        [
          {
            "node": "DB berita Edit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized berita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB berita Edit": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook berita Delete": {
      "main": [
        [
          {
            "node": "Auth Del berita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Del berita": {
      "main": [
        [
          {
            "node": "DB berita Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized berita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB berita Delete": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook dokumen List": {
      "main": [
        [
          {
            "node": "DB dokumen List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB dokumen List": {
      "main": [
        [
          {
            "node": "Aggregate dokumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook dokumen Add": {
      "main": [
        [
          {
            "node": "Auth Add dokumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Add dokumen": {
      "main": [
        [
          {
            "node": "DB dokumen Add",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized dokumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB dokumen Add": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook dokumen Edit": {
      "main": [
        [
          {
            "node": "Auth Edit dokumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Edit dokumen": {
      "main": [
        [
          {
            "node": "DB dokumen Edit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized dokumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB dokumen Edit": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook dokumen Delete": {
      "main": [
        [
          {
            "node": "Auth Del dokumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Del dokumen": {
      "main": [
        [
          {
            "node": "DB dokumen Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized dokumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB dokumen Delete": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook slider List": {
      "main": [
        [
          {
            "node": "DB slider List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB slider List": {
      "main": [
        [
          {
            "node": "Aggregate slider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook slider Add": {
      "main": [
        [
          {
            "node": "Auth Add slider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Add slider": {
      "main": [
        [
          {
            "node": "DB slider Add",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized slider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB slider Add": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook slider Edit": {
      "main": [
        [
          {
            "node": "Auth Edit slider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Edit slider": {
      "main": [
        [
          {
            "node": "DB slider Edit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized slider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB slider Edit": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook slider Delete": {
      "main": [
        [
          {
            "node": "Auth Del slider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Del slider": {
      "main": [
        [
          {
            "node": "DB slider Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized slider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB slider Delete": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook program List": {
      "main": [
        [
          {
            "node": "DB program List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB program List": {
      "main": [
        [
          {
            "node": "Aggregate program",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook program Add": {
      "main": [
        [
          {
            "node": "Auth Add program",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Add program": {
      "main": [
        [
          {
            "node": "DB program Add",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized program",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB program Add": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook program Edit": {
      "main": [
        [
          {
            "node": "Auth Edit program",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Edit program": {
      "main": [
        [
          {
            "node": "DB program Edit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized program",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB program Edit": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook program Delete": {
      "main": [
        [
          {
            "node": "Auth Del program",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Del program": {
      "main": [
        [
          {
            "node": "DB program Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized program",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB program Delete": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate berita": {
      "main": [
        [
          {
            "node": "Respond berita List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate dokumen": {
      "main": [
        [
          {
            "node": "Respond dokumen List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate slider": {
      "main": [
        [
          {
            "node": "Respond slider List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate program": {
      "main": [
        [
          {
            "node": "Respond program List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Metric Edit": {
      "main": [
        [
          {
            "node": "Auth Metric Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Metric Edit": {
      "main": [
        [
          {
            "node": "DB Metric Edit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Metric Edit": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Inovasi Submit": {
      "main": [
        [
          {
            "node": "DB Inovasi Submit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Inovasi Submit": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Inovasi Approve": {
      "main": [
        [
          {
            "node": "Auth Inovasi Approve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Inovasi Approve": {
      "main": [
        [
          {
            "node": "DB Inovasi Approve",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Inovasi Approve": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Inovasi Delete": {
      "main": [
        [
          {
            "node": "Auth Inovasi Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Inovasi Delete": {
      "main": [
        [
          {
            "node": "DB Inovasi Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Inovasi Delete": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b55943efb5f219d407bc408d9277d6d643804fc75070b4ed56250fe03c8ea67"
  }
}